# {{ ansible_managed }}

print_info() {
    info title
    info underline
{% for module in update_motd_print_info %}
    info "{{ module.name }}" {{ module.module }}
{% endfor %}
}

title_fqdn="{{ update_motd_title_fqdn }}"
kernel_shorthand="{{ update_motd_kernel_shorthand }}"
distro_shorthand="{{ update_motd_distro_shorthand }}"
os_arch="{{ update_motd_os_arch  }}"
uptime_shorthand="{{ update_motd_uptime_shorthand }}"
memory_percent="{{ update_motd_memory_percent }}"
memory_unit="{{ update_motd_memory_unit }}"
package_managers="{{ update_motd_package_managers }}"
shell_path="{{ update_motd_shell_path }}"
shell_version="{{ update_motd_shell_version }}"
speed_type="{{ update_motd_speed_type }}"
speed_shorthand="{{ update_motd_speed_shorthand }}"
cpu_brand="{{ update_motd_cpu_brand }}"
cpu_speed="{{ update_motd_cpu_speed }}"
cpu_cores="{{ update_motd_cpu_cores }}"
cpu_temp="{{ update_motd_cpu_temp }}"
gpu_brand="{{ update_motd_gpu_brand }}"
gpu_type="{{ update_motd_gpu_type }}"
refresh_rate="{{ update_motd_refresh_rate }}"
gtk_shorthand="{{ update_motd_gtk_shorthand }}"
gtk2="{{ update_motd_gtk2 }}"
gtk3="{{ update_motd_gtk3 }}"
public_ip_host="{{ update_motd_public_ip_host }}"
public_ip_timeout="{{ update_motd_public_ip_timeout }}"
local_ip_interface={{ update_motd_local_ip_interface }}
de_version="{{ update_motd_de_version }}"
disk_show={{ update_motd_disk_show }}
disk_subtitle="{{ update_motd_disk_subtitle }}"
disk_percent="{{ update_motd_disk_percent }}"
music_player="{{ update_motd_music_player }}"
song_format="{{ update_motd_song_format }}"
song_shorthand="{{ update_motd_song_shorthand }}"
mpc_args={{ update_motd_mpc_args }}
colors={{ update_motd_colors }}
bold="{{ update_motd_bold }}"
underline_enabled="{{ update_motd_underline_enabled }}"
underline_char="{{ update_motd_underline_char }}"
separator="{{ update_motd_separator }}"
block_range={{ update_motd_block_range }}
color_blocks="{{ update_motd_color_blocks }}"
block_width={{ update_motd_block_width }}
block_height={{ update_motd_block_height }}
col_offset="{{ update_motd_col_offset }}"
bar_char_elapsed="{{ update_motd_bar_char_elapsed }}"
bar_char_total="{{ update_motd_bar_char_total }}"
bar_border="{{ update_motd_bar_border }}"
bar_length={{ update_motd_bar_length }}
bar_color_elapsed="{{ update_motd_bar_color_elapsed }}"
bar_color_total="{{ update_motd_bar_color_total }}"
memory_display="{{ update_motd_memory_display }}"
battery_display="{{ update_motd_battery_display }}"
disk_display="{{ update_motd_disk_display }}"
image_backend="{{ update_motd_image_backend }}"
image_source="{{ update_motd_image_source }}"
ascii_distro="{{ update_motd_ascii_distro }}"
ascii_colors={{ update_motd_ascii_colors }}
ascii_bold="{{ update_motd_ascii_bold }}"
image_loop="{{ update_motd_image_loop }}"
thumbnail_dir="{{ update_motd_thumbnail_dir }}"
crop_mode="{{ update_motd_crop_mode }}"
image_size="{{ update_motd_image_size }}"
catimg_size="{{ update_motd_catimg_size }}"
gap={{ update_motd_gap }}
yoffset={{ update_motd_yoffset }}
xoffset={{ update_motd_xoffset }}
background_color="{{ update_motd_background_color }}"
stdout="{{ update_motd_stdout }}"